{% extends "layout.html" %}
{% block content %}
<h4>Leave a Comment:</h4>
<div class="form-group">
  <form role="form" method="post" class="col-sm-5">
    <label for="name">nome:</label><br>
    <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome"><br>
</div>
<div class="col-sm-5">
  <label for="weight">peso:</label><br>
  <input type="text" placeholder="Kilos" class="form-control" id="weight" name="weight">
  <br><br>
</div>
<br>
<input type="submit" value="Submit" class="btn btn-success">
</form>
</div>

<br><br>

<p><span class="badge">{{ weight_list|length }}</span> coisas:</p><br>

<div>
  <table class="table">
    <tr>
      <th>nome</th>
      <th>peso</th>
      <th>data</th>
    </tr>
    {% for weight in weight_list %}
    <tr>
      <td>{{ weight.name }}</td>
      <td>{{ weight.weight }}</td>
      <td>{{ weight.date }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}